mixin github-card(item)
  .card.col-md-4.text-center
    .card-body
      img.card-img-top-github(src=item.picture)
      h4.card-title
        span.name= item.name
        if item.stars
          span.stars &nbsp;(!{item.stars}★)
        if item.fork
          span.fork &nbsp;⑂
      p.card-text
        if item.description
          span.description= item.description
        else
          span.description (no description)
        br
        if item.licence
          if item.licence.spdx_id
            a(href='https://spdx.org/licenses/' + item.licence.spdx_id + '.html', target='_blank')= item.licence.spdx_id
          else
            small
              em Other licence
        else
          small
            em Not yet licenced
      a.btn.btn-secondary(href=item.source_url,target='_blank') Source
      if item.website_url
        | 
        a.btn.btn-secondary(href=item.website_url,target='_blank') Website
        